body {
    background-color: #111;
}

h1, h2, h3, h4, h5, p, button, span, div {
    font-family: monospace;
    color: #83ba23;
    text-shadow: #88ba87 0 0 5px;
}

hr {
    border-color: #83ba23;
    box-shadow:  #88ba87 0 0 5px;
}

button {
    background-color: transparent;
    border-color: #83ba23;
    box-shadow:  #88ba87 0 0 5px;
    transition: color 0.25s ease, outline-color 0.25s ease, border-color 0.25s ease;
}

button:focus {
    outline-color: #88ba87;
    box-shadow:  #88ba87 0 0 5px;
}

button:active {
    color: #2b39ff;
    outline-color: #2b39ff;
    border-color: #2b39ff;
    box-shadow: #2b59ff 0 0 5px;
    text-shadow: #2b59ff 0 0 5px;
}

button:disabled {
    color: #666;
    border-color: #666;
}
